<div class="container">
    <div class="row justify-content-center align-items-start">
        <div class="col-4">
            <img class="profile" src="/images/User.png" alt="">
        </div>

        <div class="col-8">
            <h4 class="text-center"> Mis cafeterias favoritas: </h4>
            <div class="row justify-content-center">
                {{#each cafeteria}}
                <div class="col-md-3">
                    <div class="card">
                        <img src="{{image}}" class="card-img-top" alt="Cafeteria">
                        <div class="card-body">
                            <h5 class="card-title">{{name}}</h5>
                            <div class="rating" data-rating={{rating}}></div>
                            <div id="main-content">
                                <div>
                                    <div class="buttons">
                                        <form action="{{id}}/cafeteria" method="POST"> </form>
                                    </div>
                                </div>
                            </div>
                            <a href="/details/{{_id}}/cafeteria" class="btn">Ver cafetería</a>
                            <a href='/perfil/{{_id}}/borrar' class="btn btn-danger">Quitar cafetería de mis
                                favoritos
                            </a>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>