<div class="container">

    <div class="container emp-profile">
        <form method="post">
            <div class="row">
                <div class="col-md-4">
                    <div class="profile-img">
                        {{!-- <img src="../../images/User.png" alt="foto-perfil" /> --}}
                    </div>
                </div>

            </div>
        </form>
        <div class="col-8 des-per fav">
            <h4> Cafeterias favoritas </h4>
            <div class="row">
                {{#each cafeteria}}
                <div class="col-md-3">
                    <div class="card">
                        <img src="{{image}}" class="card-img-top" alt="Cafeteria">
                        <div class="card-body">
                            <h5 class="card-title">{{name}}</h5>
                            <div class="rating" data-rating={{rating}}></div>
                            <div id="main-content">
                                <div>
                                    <div class="buttons">
                                        <form action="{{id}}/cafeteria" method="POST"> </form>
                                    </div>
                                </div>
                            </div>
                            <a href="/details/{{_id}}/cafeteria" class="btn">Ver cafetería</a>
                        </div>
                    </div>
                </div>
                {{/each}}

            </div>
        </div>
    </div>
</div>