
<div class="buttons goBack">
    <a href="/cafeterias" class="btn">Volver al listado</a>
</div>
<div class="container cafeteria">

    <div class="row justify-content-center align-items-center">
        <div class="col-lg-5 col-md-5 col-sm-12">
            <img src="{{image}}" alt="imagen" class="coffee-shop">
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 centRes">
            <h3 class="coffeShopName" > {{name}}</h3>
            <p > <a href="http://{{website}}">{{website}}</a></p>
            <p class="rating"  data-rating={{rating}}> </p> 
            <div class="buttons">
                {{#unless isLogged}}
               
                <form action="/details/{{_id}}/cafeteria" method="POST">
                    <button type="submit" class="btn ml-5">Añadir a favoritos</button>
                </form>
            {{/unless }}
            {{#if isLogged}}
            <form action="/edit/{{_id}}/cafeteria" method="POST">
                <a href="/edit/{{_id}}/cafeteria" class="btn btn ml-5 ">Editar</a>
            </form>
            <form action="/delete/{{_id}}/cafeteria" method="POST">
                <button type="submit" class="btn ml-5">Borrar</button>
            </form>
            {{/if}}
                
            </div>
        </div>
    </div>

    <div class="row justify-content-center align-items-center mt-5">
        <div class="col-10">
            <figure id="myMap"></figure>
        </div>
    </div>
</div>

<div class="d-none">
    <input value="{{location.coordinates.[0]}}">
    <input value="{{location.coordinates.[1]}}">
</div>


<script src="/js/rating.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/shop&cafeteria-map.js"> </script>
<script src="https://maps.googleapis.com/maps/api/js?key={{GOOGLEMAPS_KEY}}&callback=initMap"></script>

<script src="/js/rating.js"></script>