<ion-icon name="cafe-filled"></ion-icon>
<div class="buttons volver">
    <a href="/cafeterias" class="btn btn-primary">Volver al listado</a>
</div>
<div class="container cafeteria">

    <div class="row justify-content-center align-items-center">
        <div class="col-5">
            <img src="{{image}}" alt="imagen" class="coffee-shop">
        </div>
        <div class="col-5">
            <h3> Nombre: {{name}}</h3>
            <p> <b>Web / Red social:</b> <a href="http://{{website}}">{{website}}</a></p>
            <p> Puntuaci칩n:</p>

            <p class="rating" data-rating={{rating}}> Puntuaci칩n:</p>
            <p>Transporte m치s cercano:{{transport}}</p>
            <div class="buttons">
                <a href="/edit/{{_id}}/cafeteria" class="btn ">Editar</a>
                <form action="/delete/{{_id}}/cafeteria" method="POST">
                    <button type="submit" class="btn ml-5">Borrar</button>
                </form>
                <button class=" btn add"> A침adir a favoritos</button>
            </div>
        </div>
    </div>

    <div class="row justify-content-center align-items-center mt-5">
        <div class="col-10">
            <figure id="myMap"></figure>
        </div>
    </div>
</div>

<div class="d-none">
    <input value="{{location.coordinates.[0]}}">
    <input value="{{location.coordinates.[1]}}">
</div>


<script src="/js/rating.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/shop&cafeteria-map.js"> </script>
<script src="https://maps.googleapis.com/maps/api/js?key={{GOOGLEMAPS_KEY}}&callback=initMap"></script>

<script src="/js/rating.js"></script>