

<div id="gallery" class="container">
  

  <div class="buttons createBtn">
    <a href="/create-cafeteria" class="btn">Añadir cafeteria</a>
  </div>

  <div class="container cafeterias">
    
    <div class="row">
      

      {{#each fileteredArr}}
      <div class=" col-lg-3 col-md-4 col-sm-6">
        <div class="card">
          <img src="{{image}}" class="card-img-top" alt="Cafeteria">
          <div class="card-body">
            <h5 class="card-title">{{name}}</h5>
            <div class="rating" data-rating={{rating}}></div>
          </div>
          <a href="/details/{{_id}}/cafeteria" class="btn">Ver cafetería</a>

        </div>
      </div>
      {{/each}}
    </div>

    <p class="d-none" id="page"> {{page}}</p>

    <div class="prevNext">
      <button id="previousPage">Previa</button>
      <button id="nextPage">Siguiente</button>
    </div>

    <script src="/js/changePageDOM.js"></script>
    <script src="/js/rating.js"></script>
  </div>
</div>